<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="SGGH" connectionString="Data Source=ANDREULTRA;Initial Catalog=dbProcon;User ID=usuprocon; password=si@procon2010" providerName="System.Data.SqlClient" />-->
    <add name="SGGH" connectionString="Data Source=10.200.142.178;Initial Catalog=dbProcon;User ID=usuprocon; password=si@procon2010" providerName="System.Data.SqlClient" />
    <!--<add name="SGGH" connectionString="Data Source=10.200.142.178,1500;Initial Catalog=dbProcon;Persist Security Info=true;INTEGRATED SECURITY=SSPI" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>