<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SegundosExecucaoPagina" value="90" />
    <add key="SegundosExecucaoScript" value="90" />
    <add key="CaminhoPastaFirefoxDriver" value="d:\a\1\s\EscolaUI.Tests\bin\release" />
    <add key="SiteUrl" value="http://consumidor.homologacao.sp.gov.br" />
    <add key="CaminhoPastaChromeDrive" value="d:\a\1\s\EscolaUI.Tests\bin\release" />
    <add key="CaminhoPastaImagens" value="c:\temp\screenshots" />
    <add key="BrowserType" value="chrome" />
  </appSettings>
</configuration>