<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SegundosExecucaoPagina" value="90" />
    <add key="SegundosExecucaoScript" value="90" />
    <add key="CaminhoPastaFirefoxDriver" value="" />
    <add key="SiteUrl" value="http://consumidordes.prodesp.sp.gov.br" />
    <add key="CaminhoPastaChromeDrive" value="" />
    <add key="CaminhoPastaImagens" value="c:\temp\screenshots" />
    <add key="BrowserType" value="chrome" />
  </appSettings>
</configuration>