<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
    <add key="SegundosExecucaoPagina" value="30" />
    <add key="SegundosExecucaoScript" value="30" />
    <add key="FirefoxDriver" value="d:\a\1\s\EscolaUI.Tests\bin\release" />
    <add key="SiteUrl" value="http://www.google.com" />
    <add key="GoogleUrl" value="http://www.google.com" />
    <add key="LoginUrl" value="http://consumidordes.prodesp.sp.gov.br/Login" />
    <add key="ChromeDrive" value="d:\a\1\s\EscolaUI.Tests\bin\release" />
    <add key="FolderPicture" value="screenshots" />
    <add key="BrowserType" value="chrome" />
   </appSettings>
</configuration>