@{
    ViewBag.Title = "TESTE BRANCH LOCAL PROCESSO VSTS AZURE";
}

<div class="jumbotron">
    <h1>TESTE PROCESSO BRANCH LOCAL VSTS AZURE</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bem vindo</h2>
        <p>
           WEB APP ESCOLA APLICACAO EXEMPLO PARA DEVOPS PRODESP
        </p>
    </div>
</div>